<p>Tarefas do Dia</p>

<div *ngFor="let tarefa of getTarefas()" class="card">
    <button 
        class="btn btn-primary task-button"
        [ngClass]="{'remedios-button': tarefa.task === 'Remédio',
                    'exercicios-button': tarefa.task === 'Exercício',
                    'recreacao-button': tarefa.task === 'Recreação'}" 
        (click)="onClickEdit(tarefa)">
        {{ tarefa.taskName }}
        <div class="inline">
            <img 
                class="edit_icon" 
                [ngClass]="{'icon-remedios': tarefa.task === 'Remédio',
                            'icon-exercicio': tarefa.task === 'Exercício',
                            'icon-recreacao': tarefa.task === 'Recreação'}"
                src="../../../assets/edit.svg" 
                alt="Editar Tarefa">
            <img 
                class="icon" 
                [ngClass]="{'icon-remedios': tarefa.task === 'Remédio',
                            'icon-exercicio': tarefa.task === 'Exercício',
                            'icon-recreacao': tarefa.task === 'Recreação'}" 
                src="../../../assets/clock.svg" 
                alt="Frequência">
            <span 
                [ngClass]="{'remedios-button-span': tarefa.task === 'Remédio',
                            'exercicios-button-span': tarefa.task === 'Exercício',
                            'recreacao-button-span': tarefa.task === 'Recreação'}" 
            >{{tarefa.time}} - {{translateWeekDay(tarefa.daysArray)}}</span>
        </div>
    </button>

    <button 
        class="btn btn-primary end-button"
        [ngClass]="{'remedios-end': tarefa.task === 'Remédio',
                    'exercicios-end': tarefa.task === 'Exercício',
                    'recreacao-end': tarefa.task === 'Recreação'}" 
        (click)="removeTarefa(tarefa)">
        Finalizar Tarefa
    </button>
</div>