input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input{
    background-color: #FFF8BC;
    border-color: #9A966F;
    border-radius: 20px;
}

.form-group{
    margin-bottom: 20px;
}

span{
    padding-left: 10px;
}

p{
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #4A4A4A;
}

.circle{
    height: 140px;
    width: 140px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #BEBEBE;
    display: inline-block;
}

.center{
    text-align: center;
}

.main-button{
    width: 320px;
    height: 65px;
    font-size: 32px;
    margin-bottom: 10px;
    line-height: 10px;
    border-radius: 30px;
    background-color: #FFF8BC;
    border: #FFF8BC;
    color: #AA9900;
}

.bottom{
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
}