<button class="btn btn-primary create-button" (click)="onGoToCreateTask()">Nova Tarefa</button>

<p>Tarefas do Dia</p>
<button 
    class="btn btn-primary task-button remedios-button"
    *ngIf="getTarefasRemedio().length > 0"
    (click)="onGoToTarefa('Remédios')"
    >Remédios
    <li>{{getTarefasRemedio().length}} Atividade(s) restante(s)</li>
</button>
<button 
    class="btn btn-primary task-button exercicios-button"
    *ngIf="getTarefasExercicio().length > 0"
    (click)="onGoToTarefa('Exercícios')"
    >Exercícios
    <li>{{getTarefasExercicio().length}} Atividade(s) restante(s)</li>
</button>
<button 
    class="btn btn-primary task-button recreacao-button"
    *ngIf="getTarefasRecreacao().length > 0"
    (click)="onGoToTarefa('Recreações')"
    >Recreações
    <li>{{getTarefasRecreacao().length}} Atividade(s) restante(s)</li>
</button>