<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" novalidate>
  <p>Tipo da Tarefa</p>
  <div class="selects">
    <div class="input-task" *ngFor="let task of tasks">
      <div class="test">
        <div
          [ngClass]="{
            remedios: task === 'Remédio',
            exercicio: task === 'Exercício',
            recreacao: task === 'Recreação'
          }"
        ></div>

        <p
          [ngClass]="{
            remedios: task === 'Remédio',
            exercicio: task === 'Exercício',
            recreacao: task === 'Recreação'
          }"
        >
          {{ task }}
        </p>
      </div>

      <input type="radio" formControlName="task" [value]="task" />
    </div>
  </div>

  <div class="form-group">
    <p>Tarefa</p>
    <input
      type="text"
      id="taskName"
      formControlName="taskName"
      class="form-control"
      placeholder="Ex . Tomar remédio*"
    />
  </div>

  <div class="form-group">
    <p>Frequência</p>
    <div class="align-center">
      <input
      type="time"
      id="alarmTime"
      name="alarmTime"
      formControlName="time"
      class="form-control frequency-form"
    />
    </div>

    <div class="flex-display">

    <div *ngFor="let data of days; let i = index" class="center-box">
      <label>
        {{ data.day }}
      </label>
        <input
          type="checkbox"
          [value]="data.id"
          (change)="onCheckboxChange($event)"
        />
    </div>
    </div>
  </div>

  <div class="center bottom">
    <button
      class="btn btn-primary main-button margin"
      type="submit"
      [disabled]="taskForm.invalid"
    >
      <img src="../../../assets/plus.svg" alt="Adicionar Perfil" />
      {{ buttonLabel }}
    </button>
  </div>
</form>
