
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <p>Tipo da Tarefa</p>
    <div class="selects">
        <div class="input-task" *ngFor="let task of tasks">
            <p [ngClass]="{'remedios': task === 'Remédio',
                            'exercicio': task === 'Exercício',
                            'recreacao': task === 'Recreação'}"
                            >{{ task }}</p>
            <input
                type="radio"
                formControlName="task"
                [value]="task">
          </div>
    </div>
    
    
    <div class="form-group">
        <p>Tarefa</p>
        <input
            type="text"
            id="taskName"
            formControlName="taskName"
            class="form-control"
            placeholder="Ex . Tomar remédio*">
    </div>
    
    <div class="form-group">
        <p>Frequência</p>
        <input
            type="text"
            id="frequency"
            formControlName="frequency"
            class="form-control"
            placeholder="Ex . 70">
        <span 
            *ngIf="!taskForm.get('frequency').valid && taskForm.get('frequency').touched"
            class="help-block">Por favor, digite uma idade válida!</span>
    </div>
    <div class="center bottom">
        <button class="btn btn-primary main-button margin" type="submit">Adicionar Tarefa</button>
    </div>
    
</form>
