.header{
    background-color: #FFF8BC;
    margin: 0;
    padding: 20px 0 20px;
    font-weight: bolder;
    border-radius: 8px;
    color: #414141CC;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.content{
    padding: 0 10px 0 10px;
}