<div class="container-box">
  <div
    class="header"
    [ngClass]="{
      'remedios-header': getHeader() === 'Remédios',
      'exercicios-header': getHeader() === 'Exercícios',
      'recreacao-header': getHeader() === 'Recreações'
    }"
  >
    <img
      [ngClass]="{
        'remedios-header': getHeader() === 'Remédios',
        'exercicios-header': getHeader() === 'Exercícios',
        'recreacao-header': getHeader() === 'Recreações'
      }"
      (click)="goBack()"
      *ngIf="getStep() > 1"
      class="button-img"
      role="button"
      src="../assets/chevron-left.svg"
    />
    <button class="btn" style="visibility: hidden" *ngIf="getStep() == 0">
      <img
        style="cursor: pointer"
        role="button"
        src="../assets/chevron-left.svg"
      />
    </button>
    <div ngbDropdown class="d-inline-block" *ngIf="getStep() == 1">
      <img
        style="cursor: pointer"
        role="button"
        class="dropdown-toggle"
        ngbDropdownToggle
        src="../assets/hamburger.png"
      />
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-menu" ngbDropdownItem (click)="goBack()">Sair</a>
      </div>
    </div>
    <h1>{{ getHeader() }}</h1>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div class="content" *ngIf="!isLoading">
    <app-login *ngIf="getStep() == 0"></app-login>
    <app-home *ngIf="getStep() == 1"></app-home>
    <app-new-profile *ngIf="getStep() == 11"></app-new-profile>
    <app-profile *ngIf="getStep() == 2"></app-profile>
    <app-new-task *ngIf="getStep() == 21"></app-new-task>
    <app-daily-tasks *ngIf="getStep() == 3"></app-daily-tasks>
  </div>
</div>
