<div class="container-box">
    <div 
        class="header" 
        [ngClass]="{'remedios-header': getHeader() === 'Remédios',
                    'exercicios-header': getHeader() === 'Exercícios',
                    'recreacao-header': getHeader() === 'Recreação'}">
        <button 
            class="btn" 
            [ngClass]="{'remedios-header': getHeader() === 'Remédios',
                        'exercicios-header': getHeader() === 'Exercícios',
                        'recreacao-header': getHeader() === 'Recreação'}"
            (click)="goBack()" 
            *ngIf="getStep() > 0"><</button>
        <button class="btn" style="visibility: hidden" *ngIf="getStep() == 0"><</button>
        <h1>{{ getHeader() }}</h1>
    </div>
    
    <div class="content">
        <app-login *ngIf="getStep() == 0"></app-login>
        <app-home *ngIf="getStep() == 1"></app-home>
        <app-new-profile *ngIf="getStep() == 11"></app-new-profile>
        <app-profile *ngIf="getStep() == 2"></app-profile>
        <app-new-task *ngIf="getStep() == 21" [taskSelected]="getHeader()"></app-new-task>
        <app-daily-tasks *ngIf="getStep() == 3"></app-daily-tasks>
    </div>
</div>

