<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="!isLoading">
    <button class="btn btn-primary create-button" (click)="onGoToCreateProfile()">Novo Perfil</button>

    <p>Perfis</p>
    
    <div *ngFor="let profile of getProfiles()">
        <button 
            class="btn btn-primary profile-button" 
            (click)="onGoToProfile(profile)">
            {{ profile.name }}
            <span *ngIf="profile.age">{{ profile.age }} anos</span>
        </button>
    </div>
</div>


