<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="!isLoading">
    <div>
        
        <button class="btn btn-primary create-button" (click)="onGoToCreateProfile()">
            <img src="../../../assets/add_profile.svg" alt="Adicionar Perfil" class="icon_add_profile">
            <br>Perfil
        </button>
    </div>

    <p>Perfis</p>
    
    <div *ngFor="let profile of getProfiles()">
        <button class="btn btn-primary profile-button" (click)="onGoToProfile(profile)">
            <img src="../../../assets/edit.svg" class="edit_icon" alt="Editar Perfil">
            {{ profile.name }}
        </button>
    </div>
</div>


